# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Binaries and compiled files
*.main
main
*.exe
*.o
*.out
main
main1
main2
main3
playground
playground1
playground2
playground3
factorial
hanoi
lambda
templates
custom_exception
exception_handling
fstream
output.txt
serialization
student.dat
map
.venv/

build/
bin/

# Finals practice executables
finals_practice/problem_1
finals_practice/problem_2
finals_practice/problem_3
finals_practice/playground.cpp
