# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Binaries and compiled files
*.main
main
*.exe
*.o
*.out
main
main1
main2
main3
playground
playground1
playground2
playground3
*.exe
*.o
*.out
.venv/
build/
bin/
