# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Binaries and compiled files
*.main
main
*.exe
*.o
*.out
main
main1
main2
main3
playground
playground1
playground2
playground3
factorial
hanoi
lambda
templates
custom_exception
exception_handling
fstream
output.txt
.venv/

build/
bin/

